nav {
  display: flex;
  background: #a4a4a4a4;
  
  padding: 1rem 1rem;
}

a{
  margin-right: 1rem;
}
ul{
  list-style-type: none;
}

li, li h1{
  display: grid;
  justify-content: center;
}

img {
  width: 250px;
}